* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(to right top,
      #051937,
      #004d7a,
      #008793,
      #00bf72,
      #a8eb12);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  height: 100%;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.container {
  /* border: 2px solid red; */
  width: 1000px;
  max-width: 1000px;
  overflow: auto;
  height: 80%;
  background-color: #FAF9F6;
}

.header {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffc72c;
  width: 100%;
  height: 20%;
  /* border:2px solid rebeccapurple; */
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  /* border:2px solid greenyellow */
}

input[type="text"] {
  width: 55%;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-left: 20px;
  background-color: #FAF9F6;
}

.submit {
  width: 15%;
  background-color: black;
  color: #FAF9F6;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
}

.task-container {
  display: flex;
  justify-content: space-evenly;
  /* border:2px solid tomato; */
  align-items: center;
  width: 80%;
  height: 10%;
  border-radius: 10px;
  padding-left: 20px;
  margin: 3% auto;
  background-color: #E5E4E2;
}

.task {
  display: flex;
  align-items: center;
  color: #616161;
  /* border:2px solid burlywood;  */
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid steelblue; */
  width: 30%;


}

.btn {
  width: 80px;
  height: 55px;
  margin: 0 8px;
}

.delete {
  background-color: #D22B2B;
  color: #fff0dc;
  border-radius: 10px;
}

.edit {
  background-color: #0096FF;
  color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;

}

.updateBtn {
  background-color: #aa00ff;
  color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;


}

.editInput {
  border: none;
  height: 50px;
  text-align: center;
  background-color: #FAF9F6;
}
